.form {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    min-height: 555px;
    margin: 0 auto;
    padding: 0 20px;

    color: #fff;

    background-color: #4dabc4;
    border-radius: 30px;

    overflow: hidden;

    &:after {
        content: '';

        position: absolute;
        right: -50%;
        bottom: 0;

        width: 100%;
        height: 100%;

        background: url('../../img/man.png') center (center/contain) no-repeat;

        transform: translateX(-25%);
    }
    
    &__wrapper {
        z-index: 5;

        width: 490px;
        padding: 50px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    &__subtitle {
        margin-top: 15px;
        padding-right: 35px;

        font-weight: 700;
        font-size: 19px;
        line-height: 26px;

        letter-spacing: 0.4px;
    }

    &__acc {
        margin-top: 15px;

        font-size: 15px;

        a {
            color: #fff;
        }
    }

    &__btn {
        width: 225px;
        height: 70px;
        margin-top: 35px;

        font-weight: 500;
        font-size: 26px;
        color: #fff;

        background-color: #e27458;

        border: none;
        border-radius: 40px;
        outline: none;

        cursor: pointer;

        transition: 0.3s all;

        &:hover,
        &:focus {
            box-shadow: 3px 3px 15px 0 #e27458;
        }
    }

    &__img {
        max-width: 100%;
        height: 461px;
    }
}

.feed-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;

    input:not([type="checkbox"]) {
        width: 455px;
        height: 50px;
        margin-top: 12px;
        padding: 0 27px;

        font-weight: 400;
        font-size: 18px;
        color: #757575;

        background-color: #fff;
        border: none;
        border-radius: 30px;
    }
}

@media (max-width: 600px) {
    .form {
        &__wrapper {
            width: 450px;
            margin: 0 auto;

            text-align: center;
        }

        &__subtitle {
            padding-right: 0;
        }

        &__btn {
            margin: 30px auto 0 auto;
        }
    }
    
    .feed-form {
        input:not([type="checkbox"]) {
            width: 100%;
        }
    }
}

@media (max-width: 440px) {
    .form {
        &:after {
            background: url(../../img/man.png) bottom center/contain no-repeat;
        }

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 16px;
        }

        &__btn {
            width: 200px;
            height: 60px;
            font-size: 20px;
            line-height: 20px;
        }
    }

    .feed-form {
        input:not([type="checkbox"]) {
            width: 100%;

            font-size: 14px;
        }
    }
}